@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Global css rules targeting the about section, to let react change the class name
.about_info_collapsed{
  opacity: 0;
}

.display_about_info{
  animation-name: displayInfo;
  animation-duration: 1s;
  padding: 5px 10%;
}

.collapse_about_info{
  display: none;
  opacity: 0;
  padding: 5px 10%;
  animation-name: collapseInfo;
  animation-duration: 1s;
}

@keyframes collapseInfo {
  from { opacity: 1; display: block }
  to { opacity: 0; display: none; }
}

@keyframes displayInfo {
  from { opacity: 0; display: none }
  to { opacity: 1; display: block}
}
