
.nav{
    background-color: rgb(88, 88, 88);
    padding: 25px 10px;
    border-bottom: 1px solid black;
    .nav_links{
        .link_element{
            border: 1px solid black;
            padding: 5px 15px;
            margin: 0 15px;
            color: rgb(235, 235, 235);
            font-family: 'Courgette', cursive;
            background-color: rgb(56, 56, 56);
            text-decoration: none;
            &:hover{
                background-color: rgb(66, 66, 66);
                border: 1px solid rgba(255, 136, 0, 0.5);
            }
        }
    }
    @media (max-width: 460px ){
        margin: 0 auto;
        text-align: center;
    }
}